<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="card.component.scss">
</head>
<body>
    <div class="folder-container">
        <div class="folder-card">
            <div class="folder-card-logo">
                <img src="{{image}}" alt="Logo 1">
            </div>
            <div class="folder-card-content">
                <h2>{{title}}</h2>
                <p>{{content}}</p>
                <p>{{value}}</p>
            </div>
        </div>        
    </div>
</body>
</html>
